@import url(common.css);

main section hgroup div.line_ri {
  background-image: url(../img/img_about/line_left.png);
  height: 1px;
}
/* 各項目共通設定--------------------------------------------------------- */
main section {
  font-family: "Zen Kaku Gothic New";
  font-size: 24px;
  margin: 0 auto;
  & dl {
    padding: 0 70px;
    & dt {
      font-size: 22px;
    }
  }
}
main section div.add {
  padding: 0 70px;
}
main section.bike {
  & figure {
    padding: 0 70px;
  }
}
main section hgroup {
  text-align: center;
  padding: 60px 0 50px 0;
}
/* 各項目共通設定--------------------------------------------------------- */

/* 所在地--------------------------------------------------------- */
section.loca {
  padding-bottom: 55px;
  & div.add {
    display: flex;
    & address {
      font-size: 21px;
      margin-left: 15px;
    }
  }
}
/* 所在地--------------------------------------------------------- */

/* 電車でお越しの方--------------------------------------------------------- */
section.train {
  & dl {
    & dd {
      padding-bottom: 55px;
      & figure {
        & img {
          margin: 20px 0 25px 0;
        }
      }
    }
  }
}
/* 電車でお越しの方--------------------------------------------------------- */

/* バスでお越しの方--------------------------------------------------------- */
section.bus {
  & span {
    color: #ff5353;
  }
  & dd {
    padding-bottom: 55px;
  }
  & a.bus_link {
    text-decoration: underline;
    color: #6d6d6d;

    &:hover {
      transition: 0.8s;
      color: #185aff;
    }
  }
}
section.bus table {
  width: 970px;
  margin: 20px 0 25px 0;
  border: 1px solid #6d6d6d;
  & th:nth-child(3) {
    width: 600px;
  }
  & th:nth-child(2) {
    border-left: 1px solid #6d6d6d;
    border-right: 1px solid #6d6d6d;
  }

  & th {
    text-align: center;
    padding: 15px 30px;
  }
  & thead {
    background-color: #efefef;
    border-bottom: 1px solid #6d6d6d;
  }
  & tbody {
    & tr:nth-child(even) {
      background-color: #ffffff;
    }
    & tr:nth-child(odd) {
      background-color: #f8feff;
    }
  }
}
/* バスでお越しの方--------------------------------------------------------- */

/* 車でお越しの方--------------------------------------------------------- */
section.car {
  & span {
    font-size: 18px;
    padding-left: 5px;
  }
  & dd {
    padding-bottom: 55px;
  }
}
section.car div.car_img {
  margin: 20px auto 25px auto;
}
/*車でお越しの方--------------------------------------------------------- */
/*自転車・バイクでお越しの方--------------------------------------------------------- */
section.bike {
  & figure {
    padding-bottom: 55px;
    & img {
      margin-bottom: 25px;
    }
  }
}
/*自転車・バイクでお越しの方--------------------------------------------------------- */
