@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap");
:root {
  background-color: #f8feff;
}
* {
  background-repeat: no-repeat;
}
body {
  line-height: normal;
  font-family: Zen Maru Gothic;
}
header {
  background: rgba(255, 255, 255, 0.4);
  border-bottom: 3px solid #60e684;
  position: sticky;
  z-index: 1;
  top: 0;
}
/* 下層ページ共通設定↓ */
body ul li.active {
  color: #f8feff;
  text-shadow: -3px 0px 11px #60e684, 3px 0px 11px #60e684;
}
main.sub_main {
  max-width: 1110px;
  margin: 0 auto;
  /* background-color: aqua; */
}
main hgroup h2 {
  font-size: 46px;
  font-weight: 500;
}
main hgroup h2.sub_h2 {
  text-align: center;
}
main hgroup div.line_ce {
  background-image: url(../img/img_about/line_center.png);
  height: 1px;
}
p.subhead {
  margin-top: -90px;
}
ul.bread {
  display: flex;
  width: 1110px;
  margin: 23px auto 0 auto;
}
span.big {
  padding: 0 5px;
}
li.act {
  color: #ff5353;
  font-weight: 500;
}
header nav {
  margin: 0 auto;
  max-width: 1110px;
  display: flex;
  gap: 66px;
  align-items: center;
  padding: 12px 31px 11px 18px;
}
header nav ul {
  display: flex;
  gap: 34px;
}
header nav ul li {
  color: #60e684;
  font-weight: bold;
  font-size: 25px;
}
header ul li {
  & a:hover {
    transition: 0.7s;
    color: #f8feff;
    text-shadow: -3px 0px 11px #60e684, 3px 0px 11px #60e684;
  }
}
/* 各施設詳細共通 */
main.stu_ind_main {
  width: 1110px;
  margin: 0 auto;
}
main section figure {
  background-color: #60e684;
}
main section figure div.ind_photo {
  display: flex;
  width: 900px;
  margin: 0 auto;
}
main section dl {
  margin: 0 auto;
  width: 900px;
}
main section dl dt {
  font-size: 30px;
}
main section dl dd {
  font-size: 21px;
}
main section dl dd.rent_item table {
  width: 900px;
  border: 2px solid #6d6d6d;
  border-bottom: 1px solid #6d6d6d;
}
main section dl dd.rent_item table {
  margin-top: 15px;
}
main section dl dd.rent_item table th.rent_name {
  text-align: left;
  width: 450px;

  padding: 12px 0 12px 12px;
  background-color: #efefef;
  border-right: 2px solid #6d6d6d;
}
main section dl dd table.time_table {
  height: 548px;
  border: 1px solid;
  & thead {
    width: 450px;
    height: 274px;
    padding: 116px 0 116px 108px;
    background-color: #60e684;
  }
}
