@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Zen+Kaku+Gothic+New&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap");
:root {
  background-color: #f8feff;
}
* {
  background-repeat: no-repeat;
}
body {
  line-height: normal;
  font-family: "Zen Kaku Gothic New";
  font-weight: 300;
}
/* ヘッダーナビゲーション共通設定--------------------------------------------------------- */
header {
  color: #60e684;
  font-size: 25px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.4);
  border-bottom: 3px solid #dea8df;
  position: sticky;
  z-index: 1;
  top: 0;
}
header nav {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Orbitron;
  max-width: 1110px;
  margin: 0 auto;
  padding: 12px 31px 11px 18px;
  & ul {
    display: flex;
    gap: 20px;
    & li {
      & a:hover {
        transition: 0.5s;
        color: #f8feff;
        text-shadow: -3px 0px 11px #60e684, 3px 0px 11px #60e684;
      }
      &.active {
        color: #f8feff;
        text-shadow: -3px 0px 11px #60e684, 3px 0px 11px #60e684;
      }
    }
  }
}
/* ヘッダーナビゲーション共通設定--------------------------------------------------------- */

/* 背景canvas設定--------------------------------------------------------- */
#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, #f8feff, #60d79b);
  background-size: 120% 120%;
  animation: gradient-animation 6s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* 背景canvas設定--------------------------------------------------------- */

/* footer共通--------------------------------------------------------- */
footer {
  margin: 100px 0 0 0;
  background-image: url(../img/img_index/bg_footer.png);
  & ul.foot_menu {
    font-family: Orbitron;
    color: #60e684;
    font-size: 23px;
    -webkit-text-stroke: 1px #60e684;
    display: flex;
    width: 1110px;
    margin: 0 auto;
    padding: 70px 0 0 0;
    justify-content: space-between;
  }
  & p.phone_logo {
    display: none;
  }
}
footer p.foot_logo {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}
footer div.foot_line {
  width: 900px;
  height: 10px;
  background-image: url(../img/img_index/line_footer.png);
  margin: 35px auto;
}
footer ul.foot_sns {
  display: flex;
  width: 337px;
  margin: 35px auto;
  gap: 100px;
}
footer ul.foot_otmenu {
  display: flex;
  width: 1110px;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 21px;
  font-weight: 400;
  color: #f8feff;
  text-shadow: -3px 0px 11px #60e684, 3px 0px 11px #60e684;
}
footer p.copy {
  text-align: center;
  background-color: #f8feff59;
  margin: 35px 0 0 0;
  padding: 4px 0;
}
footer p small {
  font-family: Orbitron;
  font-size: 14px;
  color: #f8feff;
  text-shadow: -3px 0px 11px #60e684, 3px 0px 11px #60e684;
}
/* footer共通--------------------------------------------------------- */

/* 下層ページ共通設定↓ */

main.sub_main {
  max-width: 1110px;
  margin: 0 auto;
}
main hgroup h2 {
  font-family: Zen Maru Gothic;
  font-size: 46px;
  font-weight: 500;
  color: #f8feff;
  text-shadow: -3px 0px 11px #dea8df, 3px 0px 11px #dea8df;
}
main hgroup h2.sub_h2 {
  text-align: center;
}
main hgroup div.line_ce {
  background-image: url(../img/img_about/line_center.png);
  height: 1px;
}
p.subhead {
  margin-top: -90px;
}
ul.bread {
  display: flex;
  width: 1110px;
  margin: 23px auto 0 auto;
}
span.big {
  padding: 0 5px;
}
li.act {
  color: #ff5353;
  font-weight: 500;
}
