@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Zen+Kaku+Gothic+New&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap");
:root {
  background-color: #f8feff;
}
* {
  background-repeat: no-repeat;
}
body {
  line-height: normal;
  font-family: Zen Maru Gothic;
  font-weight: 300;
}
header {
  background: rgba(255, 255, 255, 0.4);
  border-bottom: 3px solid #60e684;
  position: sticky;
  z-index: 1;
  top: 0;
}
/* footer共通 */
footer {
  margin: 100px 0 0 0;
  background-image: url(../img/img_index/bg_footer.png);
  & ul.foot_menu {
    font-family: Orbitron;
    color: #60e684;
    font-size: 23px;
    -webkit-text-stroke: 1px #60e684;
    display: flex;
    width: 1110px;
    margin: 0 auto;
    padding: 70px 0 0 0;
    justify-content: space-between;
  }
}
footer p.foot_logo {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}
footer div.foot_line {
  width: 900px;
  height: 10px;
  background-image: url(../img/img_index/line_footer.png);
  margin: 35px auto;
}
footer ul.foot_sns {
  display: flex;
  width: 337px;
  margin: 35px auto;
  justify-content: space-between;
}
footer ul.foot_otmenu {
  display: flex;
  width: 1110px;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 21px;
  font-weight: 400;
  color: #f8feff;
  text-shadow: -3px 0px 11px #60e684, 3px 0px 11px #60e684;
}
footer p.copy {
  text-align: center;
  background-color: #f8feff59;
  margin: 35px 0 0 0;
  padding: 4px 0;
}
footer p small {
  font-family: Orbitron;
  font-size: 14px;
  color: #f8feff;
  text-shadow: -3px 0px 11px #60e684, 3px 0px 11px #60e684;
}
/* 下層ページ共通設定↓ */
body ul li.active {
  color: #f8feff;
  text-shadow: -3px 0px 11px #60e684, 3px 0px 11px #60e684;
}
main.sub_main {
  max-width: 1110px;
  margin: 0 auto;
  /* background-color: aqua; */
}
main hgroup h2 {
  font-size: 46px;
  font-weight: 500;
  color: #f8feff;
  text-shadow: -3px 0px 11px #60e684, 3px 0px 11px #60e684;
  padding: 0 0 10px 0;
}
main hgroup h2.sub_h2 {
  text-align: center;
}
main hgroup div.line_ce {
  background-image: url(../img/img_about/line_center.png);
  height: 1px;
}
p.subhead {
  margin-top: -90px;
}
ul.bread {
  display: flex;
  width: 1110px;
  margin: 23px auto 0 auto;
}
span.big {
  padding: 0 5px;
}
li.act {
  color: #ff5353;
  font-weight: 500;
}
header nav {
  margin: 0 auto;
  max-width: 1110px;
  display: flex;
  gap: 66px;
  align-items: center;
  padding: 12px 31px 11px 18px;
}
header nav ul {
  display: flex;
  gap: 34px;
}
header nav ul li {
  color: #60e684;
  font-weight: bold;
  font-size: 25px;
}
header ul li {
  & a:hover {
    transition: 0.7s;
    color: #f8feff;
    text-shadow: -3px 0px 11px #60e684, 3px 0px 11px #60e684;
  }
}
