@import url(common.css);

header {
  background-image: url(../img/mainvleft.png), url(../img/mainvright.jpg);
  background-repeat: no-repeat, no-repeat;
  padding-bottom: 1011px;
  padding-top: 50px;
}
