@import url(common.css);
main section {
  width: 1110px;
  margin: 0 auto;
  & p {
    font-size: 20px;
  }
}
main p.rese_atn {
  font-size: 20px;
  width: 977px;
  margin: 36px 0 60px 0;
  padding: 0 30px;
}
main section form label {
  font-size: 21px;
  font-weight: 400;
}
main section form label.rec {
  &::after {
    content: "必須";
    font-size: 13px;
    color: #f5f4f4;
    margin: 0 0 0 5px;
    padding: 1px 4px;
    background-color: #ff4b4b;
  }
}

input,
textarea,
select {
  margin-top: 10px;
  width: 693px;
  height: 35px;
  background-color: #f5f4f4;
  border: 1px solid #6d6d6d;
  border-radius: 3px;
}
div.time_box {
  display: flex;
  align-items: center;
  & p span.line {
    padding: 0 10px;
  }
}
select[name="rent_time"] {
  width: 200px;
}
input[type="tel"] {
  width: 197px;
}
textarea {
  height: 145px;
}
div.tel_box {
  display: flex;
  gap: 22px;
  justify-content: flex-start;
  align-items: center;
}
div.parts_flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-top: 40px;
  border-bottom: 1px solid #6d6d6d;
  & small {
    font-size: 14px;
  }
}
