@import url(common.css);
/* 各施設詳細共通 */
main section hgroup {
  text-align: center;
  padding: 60px 0 50px 0;
  & h2 {
    font-family: Orbitron;
    font-size: 60px;
  }
}

main section figure {
  & figcaption {
    font-size: 20px;
    margin: 0 auto;
  }
  &::after {
    content: "";
    display: block;
    width: 800px;
    height: 1px;
    margin: 50px auto;
    background-color: #6d6d6d;
  }
}
main section figure {
  padding: 0 70px;
  & figcaption {
    margin: 20px 0 25px 0;
    font-size: 26px;
  }
}
main section figure div.ind_photo {
  display: flex;
  justify-content: space-between;
}
main section dl {
  margin: 0 auto;
  padding: 0 70px;
  & dt {
    font-size: 24px;
    font-weight: 400;
    & span {
      font-size: 18px;
    }
  }
  & dd {
    font-size: 26px;
    padding: 20px 15px 55px 15px;
  }
}
/* 利用料金--------------------------------------------------------- */
table.cost_sheet {
  font-size: 21px;
  background-color: #f8feff;
  width: 100%;
  & tr th {
    padding: 12px 0;
  }
  & thead {
    background-color: #efefef;
    border-bottom: 1px solid #6d6d6d;
    & tr th:first-child {
      border-right: 1px solid #6d6d6d;
      padding-left: 12px;
      text-align: left;
    }
  }
  & tbody {
    & tr {
      &:first-child {
        background-color: #ffffff;
      }
      & th:first-child {
        border-right: 1px solid #6d6d6d;
        padding-left: 12px;
        text-align: left;
      }
    }
  }
}
/* 料金表線設定 */
table.cost_sheet {
  border: 1px solid #6d6d6d;
}
/* 料金表線設定 */

/* 利用料金--------------------------------------------------------- */

/* 貸出備品価格表--------------------------------------------------------- */
main section dl dd.rent_item table {
  background-color: #f8feff;
  width: 100%;
  font-size: 21px;
  border: 2px solid #6d6d6d;
  border-bottom: 1px solid #6d6d6d;
}
.item_li {
  margin-top: 20px;
}
main section dl dd.rent_item table th.rent_name {
  text-align: left;
  width: 450px;
  padding: 12px 0 12px 12px;
  background-color: #efefef;
  border-right: 2px solid #6d6d6d;
}
/* 貸出備品価格表--------------------------------------------------------- */
.cost::after {
  content: "円";
  padding-left: 2px;
}
small.atn {
  padding: 0 85px;
}
