@import url(common.css);
header {
  font-size: 17px;
}
header nav {
  width: 768px;
  justify-content: space-between;
  & p {
    flex-basis: 176px;
    flex-shrink: 0;
  }
}
body p.mainvi {
  margin-top: -90px;
}
body hgroup.catcopy {
  position: absolute;
  left: 125px;
  top: 175px;
  font-size: 27px;
  color: #ffffff;
  text-align: center;
}
body hgroup h1 {
  font-family: Orbitron;
  font-size: 67px;
  font-weight: 700;
  text-shadow: -3px 0px 11px #60e684, 3px 0px 11px #60e684;
  margin-bottom: 15px;
}

main section h2.lefth2 {
  font-size: 35px;
  color: #ffffff;
  text-align: center;
  padding: 40px 0 40px 0;
  background-image: url(../../img/img_index/bg_h2_left.png);
}
main section h2.righth2 {
  font-size: 35px;
  color: #ffffff;
  text-align: center;
  padding: 40px 0 40px 0;
  background-image: url(../../img/img_index/bg_h2_right.png);
  background-position: right;
}
main section p.btn {
  font-size: 22px;
  text-align: center;
  border: 1px solid #000000;
  width: 292px;
  margin: 62px auto 0 auto;
  padding: 5px 0px;
}
main section.about h2 img {
  width: 768px;
}

main section.about {
  text-align: center;
  padding: 132px 0 65px 0;
  background-image: url(../../img/img_index/img_res/bg_pad_about.png);
  background-size: 0.9;
  background-position: center;
}
main section.about p.catch {
  font-size: 41px;
  padding: 15px 0 53px 0;
}
main section.about p.catchtext {
  font-size: 20px;
}

main section.news {
  padding: 150px 0 55px 0;
  background-position: right;
}
main section.news dl {
  padding: 80px 0 0 0;
}
main section.news dl div.newsli {
  display: block;
  width: 768px;
  margin: 0 auto;
  padding: 20px 0;
  border-top: 0.5px solid #8e8e8e;
  border-bottom: 0.5px solid #8e8e8e;
  & dt {
    font-size: 25px;
    padding-left: 35px;
  }
}

main section.news dl div.newsli dd {
  font-size: 23px;
  width: 658px;
  margin-left: 45px;
}
main section.event {
  padding: 150px 0 55px 0;
}
main section.event ul {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 50;
  width: 650px;
  margin: 80px auto 0 auto;
  & li img {
    width: 282px;
  }
}
main section.event ul li.info_no4 {
  display: unset;
}
main section.access {
  padding: 150px 0 55px 0;
  background-position: right;
}
main section.access div.address {
  display: block;
  margin: 80px auto 0 auto;
  padding: 0 35px;
}
main section.access div.address div.map p {
  width: 100%;
  margin: 0 auto;
}
main section.access div.address div.acs p.adr {
  font-size: 27px;
  width: fit-content;
  margin-top: 25px;
}
main section.access div.address div.acs hgroup {
  font-size: 27px;
  width: fit-content;
  margin-top: 15px;
  & h3 {
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}
/* アクセスページレスポンシブ--------------------------------------------------------- */
main section hgroup div.line_ri {
  background-image: url(../img/img_about/line_left.png);
  height: 1px;
}

/* 各項目共通設定--------------------------------------------------------- */
main section {
  width: 100%;
  font-family: "Zen Kaku Gothic New";
  font-size: 24px;
  margin: 0 auto;
  & dl {
    padding: 0 70px;

    & dt {
      font-size: 22px;
    }
  }
}
main section div.add {
  padding: 0 70px;
}
main section.bike {
  & figure {
    padding: 0 70px;
  }
}
main section hgroup {
  text-align: center;
  padding: 60px 0 50px 0;
}
/* 各項目共通設定--------------------------------------------------------- */

/* 所在地--------------------------------------------------------- */
section.loca {
  padding-bottom: 55px;
  & div.add {
    display: flex;
    & address {
      font-size: 21px;
      margin-left: 15px;
    }
  }
}
/* 所在地--------------------------------------------------------- */

/* 電車でお越しの方--------------------------------------------------------- */
section.train {
  & dl {
    & dd {
      padding-bottom: 55px;
      & figure {
        & img {
          margin: 20px 0 25px 0;
        }
      }
    }
  }
}
/* 電車でお越しの方--------------------------------------------------------- */
section.bus table {
  width: 100%;
  margin: 20px auto 25px auto;
  border: 1px solid #6d6d6d;
  & th:nth-child(3) {
    width: fit-content;
  }
  & th:nth-child(2) {
    border-left: 1px solid #6d6d6d;
    border-right: 1px solid #6d6d6d;
  }

  & th {
    text-align: center;
    padding: 15px 30px;
  }
  & thead {
    background-color: #efefef;
    border-bottom: 1px solid #6d6d6d;
  }
  & tbody {
    & tr:nth-child(even) {
      background-color: #ffffff;
    }
    & tr:nth-child(odd) {
      background-color: #f8feff;
    }
  }
}

/* 車でお越しの方--------------------------------------------------------- */
section.car {
  & span {
    font-size: 18px;
    padding-left: 5px;
  }
  & dd {
    padding-bottom: 55px;
  }
}
section.car div.car_img {
  justify-content: flex-start;
  display: flex;
  gap: 0;
  margin: 20px auto 25px auto;
  & img {
    scale: 0.8;
  }
}
/*車でお越しの方--------------------------------------------------------- */
/*自転車・バイクでお越しの方--------------------------------------------------------- */
section.bike {
  & figure {
    padding-bottom: 55px;
    & img {
      margin-bottom: 25px;
    }
  }
}
/*自転車・バイクでお越しの方--------------------------------------------------------- */
/* アクセスページレスポンシブ--------------------------------------------------------- */
/* 問い合わせページレスポンシブ */
main section {
  width: 100%;
  margin: 0 auto;
  padding: 0 70px;
  & p {
    font-size: 20px;
  }
  & hgroup {
    margin: 0 auto;
    padding: 0 70px;
  }
}
main p.con_atn {
  font-size: 17px;
  width: 100%;
  background-color: #efefef;
}
main section form label {
  width: 198px;
  font-size: 17px;
  font-weight: 400;
}
main section form label.rec {
  &::after {
    content: "必須";
    font-size: 11px;
    color: #f5f4f4;
    margin: 0 0 0 5px;
    padding: 1px 4px;
    background-color: #ff4b4b;
  }
}
main section form div.parts_flex {
  display: flex;
  width: 978px;
  margin-top: 40px;
  padding-bottom: 15px;
  border-bottom: 1px solid #6d6d6d;
  & small {
    font-size: 14px;
  }
}
input.wide_box,
textarea {
  margin-top: 10px;
  height: 35px;
  background-color: #f5f4f4;
  border: 1px solid #6d6d6d;
  border-radius: 3px;
  width: 693px;
}
textarea {
  height: 151px;
}
main section form div.form_box {
  margin: 0 0 0 43px;
}
main section form p.under_atn {
  margin: 40px 0 50px 0;
}
main section form p.agree {
  text-align: center;
}
p.btn {
  width: fit-content;
  text-align: center;
  font-weight: 500;
  padding: 15px 40px;
  margin: 100px auto;
  color: #f5f4f4;
  background-color: #60e684;
}

/* 問い合わせページレスポンシブ */

footer {
  margin-top: 0;
  & ul.foot_menu {
    font-size: 18px;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
  }
  & p.foot_logo {
    width: 698px;
  }
  & div.foot_line {
    width: 698px;
    margin: 25px auto;
  }
  & ul.foot_sns {
    margin: 25px auto;
  }
  & ul.foot_otmenu {
    font-size: 18px;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
  }
  & p.copy {
    margin: 70px 0 0 0;
  }
}
ul.bread {
  width: 100%;
  padding: 0 70px;
}
